{% load i18n %}
<table id="tabular_permissions" class="table table-condensed table-striped table-hover tabular-permissions"
       style="width:100%" data-input-name="{{ widget.table.input_name }}">
    <thead>
    <tr>
        <th class="tabular_perms_header"> {% trans 'application'|capfirst %}</th>
        <th class="tabular_perms_header">{% trans 'model'|capfirst %}</th>
        {% if widget.table.django_supports_view_permissions %}
        <th class="tabular_perms_header">
            {% trans 'View' %}
            <div>
                <input type="checkbox" class="checkbox select-all select-column" data-permission="view"
                       id="perm_view_select_all">
                {% trans 'All' %}
            </div>
        </th>
        {% endif %}
        <th class="tabular_perms_header">
            {% trans 'Add' %}
            <div>
                <input type="checkbox" class="checkbox select-all select-column" data-permission="add"
                       id="perm_add_select_all">
                {% trans 'All' %}
            </div>
        </th>
        <th class="tabular_perms_header">
            {% trans 'Change' %}
            <div>
                <input type="checkbox" class="checkbox select-all select-column" data-permission="change"
                       id="perm_change_select_all">
                {% trans 'All' %}
            </div>
        </th>
        <th class="tabular_perms_header">
            {% trans 'Delete' %}
            <div>
                <input type="checkbox" class="checkbox select-all select-column" data-permission="delete"
                       id="perm_delete_select_all">
                {% trans 'All' %}
            </div>
        </th>

        {% block extra_permission_headers %}{% endblock %}
        {% if  widget.table.custom_permissions_available %}
            <th class="tabular_perms_header">
            {% trans 'other permissions'|capfirst %}
            </th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for app in  widget.table.apps_available.values %}

        {% for model in app.models.values %}

            <tr class="trow {% cycle 'row1' 'row2' %}" data-app-name="{{app.label}}">

                {% if forloop.counter0 == 0 %}
                    <td rowspan="{{ app.models|length }}" class="app-name"
                        data-app-name="{{ app.label }}">{{ app.verbose_name|capfirst }}
                    </td>
                {% endif %}
                <td>
                    {{ model.verbose_name|capfirst }}
                    <div class="input">
                        {#                        <label>#}
                        <input type="checkbox" class="checkbox select-all select-row"
                               data-model-name="{{ model.model_name }}">
                        {% trans 'All' %}
                        {#                        </label>#}
                    </div>
                </td>
                {% if widget.table.django_supports_view_permissions %}
                <td class="view">
                    {% if model.view_perm_id %}
                        <div class="input">
                            <label>
                                <input type="checkbox" class="checkbox view model-{{ model.model_name }}"
                                       id="id_{{ model.label }}_{{ model.view_perm_name }}" data-perm-id="{{ model.view_perm_id }}"
                                        {% if model.view_perm_id in widget.table.user_permissions %}
                                       checked="checked"
                                        {% endif %}>
                            </label>
                        </div>
                    {% endif %}
                </td>
                {% endif %}
                <td class="add">
                    {% if model.add_perm_id %}
                        <div class="input">
                            <label>
                                <input type="checkbox" class="checkbox add model-{{ model.model_name }}"
                                       id="id_{{ model.label }}_{{ model.add_perm_name }}" data-perm-id="{{ model.add_perm_id }}"
                                        {% if model.add_perm_id in widget.table.user_permissions %}
                                       checked="checked"
                                        {% endif %}>
                            </label>
                        </div>
                    {% endif %}
                </td>
                <td class="change">
                    {% if model.change_perm_id %}
                        <div class="checkbox ">
                            <label>
                                <input type="checkbox" class="checkbox change model-{{ model.model_name }}"
                                       id="id_{{ model.label }}_{{ model.change_perm_name }}" data-perm-id="{{ model.change_perm_id }}"
                                        {% if model.change_perm_id in widget.table.user_permissions %}
                                       checked="checked"
                                        {% endif %}>
                            </label>
                        </div>
                    {% endif %}
                </td>
                <td class="delete">
                {% if model.delete_perm_id %}
                    <div class="checkbox ">
                        <label>
                            <input type="checkbox" class="checkbox delete model-{{ model.model_name }}"
                                   id="id_{{ model.label }}_{{ model.delete_perm_name }}" data-perm-id="{{ model.delete_perm_id }}"
                                    {% if model.delete_perm_id in widget.table.user_permissions %}
                                   checked="checked"
                                    {% endif %}>
                        </label>
                    </div>
                {% endif %}
                </td>
            {% block extra_permission_rows %}{% endblock %}
            {% if  widget.table.custom_permissions_available %}
            <td>
            {% for custom_permission in model.custom_permissions %}
                <div class="input ">
                        <label>
                            <input type="checkbox" class="checkbox custom model-{{ model.model_name }}"
                                   id="id_{{ model.label }}_{{ custom_permission.0 }}" data-perm-id="{{ custom_permission.2 }}"
                                    {% if custom_permission.2 in widget.table.user_permissions %}
                                   checked="checked"
                                    {% endif %}>
                        {{ custom_permission.1 }}
                        </label>
                    </div>
            {% endfor %}
            </td>
            {% endif %}
            </tr>
        {% endfor %}

        {% if app.models %}
            <tr class="trow" data-app-name="{{app.label}}">
                <td colspan="{{ widget.table.colspan }}" class="user-permissions-app-separator"></td>
            </tr>
        {% endif %}

    {% endfor %}
    </tbody>
    <tfoot></tfoot>
</table>
<hr/>

{# renders the original widget #}
{% if widget.base_template_name %}
{% include widget.base_template_name %}
{% endif %}

{% block style %}
    {#    Seems a waste to request those couple of sad lines from the server as separate css file #}
    <style>
        .user-permissions-app-separator {
            border-bottom: 1px solid black;
        }

        .app-name {
            border-right: 1px black solid;
        }

        [dir=rtl] .app-name {
            border-left: 1px black solid;
            border-right: initial;
        }

        th.tabular_perms_header {
            text-decoration: underline;
        }

        .select-all {
            font-style: italic;
        }

    </style>
{% endblock %}
